#contents {

}

#contents > div {
    display: table-row;
    text-align: center;
    vertical-align: middle;
    border: 1px solid orange;
    height: 50%;
}

#contents #logo img {
    margin: 15% 0 0 0;
    max-width: 80%;
}


#contents #instructions {
    max-width: 60%;
}

#contents #instructions ul {
    display: inline-block;
    margin: 0;
    padding: 0.25em;
    list-style: none;
    background-color: rgba(220,220,220,0.20);
}

#contents #instructions ul li {
  display: inline-block;
  padding: 1em 0.5em;
  margin: 0.0625em;
  background-color: rgba(220,220,220,0.25);
}