#contents {

}

#contents > div {
    display: table-row;
    text-align: center;
    vertical-align: middle;
    border: 1px solid orange;
    height: 50%;
}

#contents #logo img {
    margin: 15% 0 0 0;
    max-width: 80%;
}

