html, body {
    color: #fff;
    background-color: #4CAF50;
    font-family: Calibri, Helvetica, Arial
}

h1, h2, h3, h4, h5 {
    color: #fff;
    font-family: "Courier New", "Courier", "Palatino Linotype", Palatino, Georgia, serif;
}

a {
    color: #E8F5E9;
    text-decoration: none;
}

footer {
    border-top: 1px solid rgba(165,165,165, 0.6);
    background-color: rgba(65,65,65, 0.4);
}

#artwork {
    background: linear-gradient(315deg, transparent 20%, rgba(220,220,220,0.3) 50%, transparent 51%);
    opacity: 0.3;
    z-index:0;
}

.shine {
    background: linear-gradient(315deg, transparent 20%, rgba(220,220,220,0.08) 50%, transparent 51%);
}


.shade {
    background: radial-gradient(transparent 65%, rgba(80,80,80,0.25) 90%);
}

.glow {
    background: radial-gradient(rgba(255,255,255,0.15) 30%, transparent 70%);
}

.noise {
    background-image: url('../img/noise.png');
    background-repeat: repeat;
}

/* =  SLide BG Colors ----------------------------------- */
.cyan {
    background-color: #00BCD4;
}

.gray50 {
    background-color: #FAFAFA;
}

.purple {
    background-color: #3F51B5;
}

.magenta {
    background-color: #AD1457;
}

.lime {
    background-color: #C0CA33;
}

.pale-pink {
    background-color: #D1C4E9;
}

.orange {
    background-color: #FFA726;
}

.blue-grey {
    background-color: #607D8B;
}

/* - ----------------------------------- */



/* VALUE PROP */
#value-prop .icon .fa-stack-1x {
    color: #C0CA33;
}


/* 5 FORCES */
#competitive-forces  {
    color: #fafafa;
}

#competitive-forces .main-force  {
    background-color: #7E57C2;
}

#competitive-forces h1 {
    color: #424242;
}

#competitive-forces h4 {
    /*background-color: rgba(90,90,90, 0.5);*/
    background-color: #FB8C00;
}


#competitive-forces #entrants,
#competitive-forces #buyer {
    background-color: #FFA726;
}

#competitive-forces #rivalries,
#competitive-forces #substitutes {
    background-color: #FFA726;
}

#competitive-forces #supplier {
    background-color: #FFA726;
}





/* TARGET MARKET */
#target-market {
    background-image: url('../img/usa.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
}


#target-market .fa-stack-1x {
    color: #FF9800;
}

#target-market a {
    color: #FFB74D
}

#target-market h3 {
    color: #F48FB1
}

#target-market em {
    font-family: "Georgia", "Helvetica", serif;
    font-size: 1.25em;
    color: greenyellow;
}
#target-market .panel {
    background-color: rgba(220,220,220,0.15);
    border-radius: 10px;
}


#target-market .panel.result .panel-right em {
    color: #64B5F6;
    font-weight: bold;
}

#target-market .panel.result .panel-right i {
    color: greenyellow;
    font-size: 1.5em;
    width: 1.5em;
}





/* STORYBOARD */
#storyboard {
    color: #fff;
}

#storyboard .cell .image-wrapper {
    /*background-color: #00ACC1;*/
    background-color: rgba(100,100,100, 0.25);
    border-right: 1px solid rgba(90,90,90, 0.2);
}

#storyboard .cell p strong {
    color: #0277BD;
}




/* LEAN */
#lean-canvas table {
    border-width: 0;
}

#lean-canvas td {
    border: 2px solid #BDBDBD;
    border-top-color: transparent;
}

#lean-canvas p.business {
    background-color: #66BB6A;
    color: #424242;
}

#lean-canvas p.church {
    background-color: #FFC107;
    color: #424242;
}

#lean-canvas p.member {
    background-color: #FFEB3B;
    color: #424242;
}

#lean-canvas h1 {
    color: #424242;
}

#lean-canvas h3 {
    color: #727272;
}





/* NFB */
#nfb {
    /*background-color: #00BCD4;*/
}

#nfb .third,
#nfb .fouth {
    border-right:1px solid #80DEEA;
}

#nfb .third:nth-child(2) {
    background-color: #00ACC1;
}

#nfb h2 {
    background-color: #0097A7;
}

#nfb .fourth h2 {
    background-color: rgba(90,90,90,0.35);
}

#nfb h3 {
    color: #673AB7;
}
