/* 5 Forces */
#competitive-forces {
    /*padding: 2em 0;*/
    /*height: 100%;*/
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border:1px solid green;
    position: relative;
    width: 100%;
    height: 100%;
}

#competitive-forces h1 {
    position: fixed;
    top: 0.75em;
    left: 1.5em;
    text-align: left;
    /*display: none;*/
    /*height: 5%;*/
    /*display: table-row;*/
    /*padding: 0 0 0 2em;*/


}

#competitive-forces #force-box {
    /*margin: 0 auto;*/

    display: inline-block;
    /*vertical-align: middle;*/
    /*text-align: center;*/
}

#competitive-forces .main-force {
    display: inline-block;
    height: 34%;
    width: 29%;
    max-height: 45%;
    padding: 0;
    margin: 0;
    text-align: left;
    z-index: 2;
    border-radius: 10px;
    border: 0.5em solid rgba(220,220,220,0.6);
    box-shadow: 0px 0px 0px 20px rgba(220,220,220, 0.6);
}

#competitive-forces .force {
    position: absolute;
    display: inline-block;
    width: 30%;
    height: 26%;
    max-height: 33%;
    padding: 0;
    margin: 0;
    z-index: 1;
    border-radius: 10px;
    box-shadow: 0px 3px 2px #888;
}

#competitive-forces h4 {
    padding: 1em;
    border-radius: 10px 10px 0 0;
}

#competitive-forces p {
    padding: 1em;
    text-align: left;
}

#competitive-forces #substitutes.force {
    right: 3em;
    bottom: 3em;
}

#competitive-forces #buyer.force {
    right: 3em;
    top: 6em;
}

#competitive-forces #entrants.force {
    left: 3em;
    top: 6em;
}

#competitive-forces #supplier.force {
    left: 3em;
    bottom: 3em;
}