#nfb .third {
    display: table-cell;
    width: 32%;
    padding: 0;
    font-size: 0.875em;
}

#nfb .fourth {
    display: table-cell;
    width: 24%;
    padding: 0;
    font-size: 1.5em;
    line-height: 2em;
}

#nfb h2 {
    margin: 0;
    padding: 1em;
}

#nfb h3 {
    margin: 0.5em 1em;
    padding: 0;
}

