.slide {
	display: table;
		table-layout: fixed;
	height: 100%;
	width: 100%;
}

.slide .third {
	display: table-cell;
	width: 32%;
	border-right:1px solid green;
}


/* LEAN CANVAS */
#lean-canvas table {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 1px solid #aaa;
    font-size:  0.75em;
}

#lean-canvas table td {
	vertical-align: top;
	width: 20%;
    padding: 0.5em;
}

#lean-canvas table td h4 {
    padding: 0.25em;
}

#lean-canvas table p {
    padding: 0.5em;
    max-width: 80%;
    border-radius: 4px;
    margin: 0.75em auto;
    box-shadow: 0 3px 2px #bbb;
}

#lean-canvas p.business {
    background-color: yellow;
}

#lean-canvas p.church {
    background-color: greenyellow;
}

#lean-canvas p.member {
    background-color: steelblue;
}

#lean-canvas p strong {
    display: block;
    margin-bottom: 0.25em;
}