<div id="competitive-forces" class="slide noise blue-grey">
	<h1>Porter's 5 Competitive Forces</h1>

    <!--<div id="force-box">-->
        <div id="rivalries" class="main-force">
            <h4>Existing Rivalries</h4>
            <p>
                Medium. No direct competitors, but substitutes are currently very popular. Bibles include YouVersion, Olive Tree
                gloBible, Logos, and many more. Churches often you use Facebook or Twitter to post information, as well as their websites
            </p>
        </div>

        <div id="entrants" class="force">
            <h4>Threat of New Entrants</h4>
            <p>
                Very high due to low cost of entry into the market and a good amount of people with domain knowledge of the customer.
            </p>
        </div>

        <div id="supplier" class="force">
            <h4>Supplier Power</h4>
            <p>
                Low. Hosting, developers, and smart phones are all in competitive markets themselves.
            </p>
        </div>

        <div id="buyer" class="force">
            <h4>Buyer Power</h4>
            <p>
                High/Very High, especially initially.  Existing rivalry is medium and threat of substitute is high so a balance of pricing and convenience must be found.
            </p>
        </div>

        <div id="substitutes" class="force">
            <h4>Threat of Substitutes</h4>
            <p>
                High. Churches use social media sites like Facebook and twitter currently, and there are a lot of bible apps
                on the market today.
            </p>
        </div>
    <!--</div>-->
</div>