<div id="competitive-forces" class="slide">
	<h2>Competitive Forces</h2>


<div id="entrants" class="force">
	<h5>Threat of New Entrants</h5>
	<p>
		Very high due to low cost of entry into the market and abundance of people with domain knowledge of the customer
	</p>
</div>

<div id="supplier" class="force">
	<h5>Supplier Power</h5>
	<p>
		Low. Hosting, developers, and smart phones are all in competitive markets themselves.
	</p>
</div>

<div id="buyer" class="force">
	<h5>Buyer Power</h5>
	<p>
		High/Very High, especially initially.  Existing rivalry is high and threat of substitute is high so a balance of pricing and convenience must be found.
	</p>
</div>

<div id="substitutes" class="force">
	<h5>Threat of Substitues</h5>
	<p>
		High. Lo/No-tech methods like hand counting, writing down, taking mental inventory, data entry into spreadsheets, etc are used today.  The threat of other non-target software being used for this purpose also exists. 
	</p>
</div>

<div id="rivalries" class="force">
	<h5>Existing Rivalries</h5>
	<p>
		High. Lo/No-tech methods like hand counting, writing down, taking mental inventory, data entry into spreadsheets, etc are used today.  The threat of other non-target software being used for this purpose also exists.
	</p>
</div>

</div>