<div class="slide glow" id="contents">
	<div id="logo">
        <img src="/img/logo-shadow.png" />
	</div>


    <div id="instructions">
        <ul>
            <li>
                press <i class="fa fa-arrow-left"></i> or <i class="fa fa-arrow-right"></i> to navigate
            </li>
            <li>
                press <i class="fa fa-arrow-down"></i> or <i class="fa fa-arrow-up"></i> to navigate the Storyboard
            </li>
            <li>
                press <em class="key">T</em> to toggle the Table of Contents
            </li>
            </li>
            <li>
                press <em class="key">Esc</em> to restart
            </li>
            <li>
                press <em class="key">Spacebar</em> for fullscreen
            </li>

        </ul>
    </div>

    <!--<h1>Presentation</h1>-->

</div>
