<div class="slide layout orange shine" id="storyboard" ng-controller="StoryboardCtrl" onload="">
    <h1>Similar Layout</h1>

    <i id="arrow-guide" class="fa fa-arrow-circle-down fa-3x"></i>

    <div id="cell-wrapper">
        <div id="cell-container">
          <div class="cell">
              <div class="image-wrapper">
                  <img class="gloImg" src="../img/glo1.png" />
              </div>
          </div>


            <div class="cell">
                <div class="image-wrapper">
                    <img class="gloImg" src="../img/glo2.png" />
                </div>
            </div>

            <div class="cell">
                <div class="image-wrapper">
                    <img class="gloImg" src="../img/glow3.png" />
                </div>
            </div>

            <div class="cell">
                <div class="image-wrapper">
                    <img class="gloImg" src="../img/fb.png" />
                </div>
            </div>
          </div>


      </div>
  </div>
</div>