<div id="lean-canvas" class="slide shade">
    <table>
        <tr class="title">
            <td colspan="7">
                <h1>Lean Model Canvas</h1>
            </td>
        </tr>
        <!-- row 1 -->

        <tr>
			<td rowspan="2">
				<h3>Problem</h3>

                <p class="church">
                    <strong>Message Reinforcement</strong>
                    Churches want to reinforce their message to aide in spiritual development
                </p>

                <p class="church">
                    <strong>More Member engagement</strong>
                    Churches want to engage members more throughout the week to give information
                </p>

                <p class="church">
                    <strong>Feedback</strong>
                    Churches want to feedback from their members
                </p>

                <p class="member">
                    <strong>Members want information</strong>
                    Members want information from their churches and don't always have immediate access to it
                </p>

                <p class="member">
                    <strong>Members want privacy</strong>
                    Members want a custom level of privacy and engagement
                </p>
			</td>	

			<td>
				<h3>Solutions</h3>
                <p class="business">
                    <strong>Bible App with church "feed"</strong>
                    A full bible app that acts as a hub for your church information
                </p>

                <p class="church">
                    <strong>Surveys</strong>
                    Churches can prompt members for feedback
                </p>

                <p class="member">
                    <strong>Privacy Settings</strong>
                    Members reveal personally identifiable information at their discretion
                </p>
			</td>	


			<td rowspan="2">
				<h3>Unique Value Propositon</h3>

                <p class="business">
                    <strong>Make Sure the flock is fed</strong>
                    An affordable way for churches to connect membership and leadership that is centrally focused around God’s Word.
                    <br />
                    <br />
                    As a leader you can provide your members with a Bible and through it send devotionals, self curated linkable scriptures,
                    comments, surveys, quizzes, and other information.
                    <br />
                    <br />
                    As a member you have access to the church(es) that you subscribe to,
                    with the level of privacy you prefer, and provide the church feedback at any time through a full fledged Bible App.
                </p>
			</td>		
			
			<td>
				<h3>Unfair Advantage</h3>
			</td>	



			<td rowspan="2">
				<h3>Customer Segments</h3>
                <p class="member">
                    <strong>Church Members/Attendees</strong>
                </p>

                <p class="church">
                    <strong>Churches</strong>
                    mainly those who don't have resources to build their own apps
                </p>
			</td>			
		</tr>

        <!-- row 2 -->

		<tr>
			<td>
				<h3>Key Metrics</h3>

                <p class="business">
                    <strong>Subscribers per Church</strong>
                </p>

                <p class="business">
                    <strong>Posts Per Church</strong>
                </p>

                <p class="business">
                    <strong>Click Thru's per Clickable Post</strong>
                </p>

                <p class="business">
                    <strong>Time Spent in Bible App</strong>
                </p>
			</td>	
			<td>
				<h3>Channels</h3>
                <p class="business">
                    <strong>Website</strong>
                    Featuring instruction videos, pricing tiers, get started guide, etc
                </p>

                <p class="business">
                    <strong>App Stores</strong>
                    Apple App Store, Google Play, Amazon App Store, etc.
                </p>

                <p class="business">
                    <strong>Marketing & Advertising / SEO</strong>
                </p>
			</td>		
		</tr>

        <!-- row 3 -->

        <tr>
            <td colspan="2">
                <h3>Cost Structure</h3>
                <p class="business">
                    <strong>Data Hosting</strong>
                </p>

                <p class="business">
                    <strong>Marketing & Advertising</strong>
                </p>

                <p class="business">
                    <strong>Development Staff</strong>
                </p>

            </td>

            <td colspan="3">
                <h3>Revenue Stream</h3>
                <p class="member">
                    <strong>Free</strong>
                    church members & attendees/subscribers
                </p>

                <p class="church">
                    <strong>Monthly Subscribers</strong>
                    churches (mainly those who don't have resources to build their own apps)
                </p>
            </td>
        </tr>
	</table>
</div>