<div id="nfb" class="slide">
	<!-- needs -->
	<div class="third">
		<h3>Needs</h3>

		<h4>Church</h4>
		<ul>
			Churches want to provide their members with the tools, guidance and information to foster a personal relationship with God
			Churches want to engage members on more than just Sunday, for point #1 and also to build a sense of community
			Churches want feedback from members and attendees
			Churches want to promote and reinforce the content from their worship services and classes
			Churches want to disseminate information to their members like announcements, devotionals, etc
			Churches want information on participation
		</ul>

		<h4>Members</h4>
		<ul>
			Members want a custom level of engagement and privacy
			Members want a relationship with God
			Members want some level (usually a low level) of direction
			Members want to hear the message
			Members want a voice
		</ul>
	</div>
	
	<!-- features -->
	<div class="third">
		<h3>Features</h3>

		<ul>
			Full, linkable Bible with multiple translations
			Content feed for churches to post to and members to subscribe to
			Check Ins
			Multiple Post types
			Scripture Posts feature one or more scriptures that link back to the Bible portion of the App
			Survey Posts to give and receive feedback
			Link Posts for sharing links to audio/video and other content
		</ul>
		
		<h4>Churches</h4>
		<ul>
			Affordable
			Web/Mobile Dashboard for viewing analytics and posting content
			Church Profile for members to subscribe to
			Push to App feed as well as social media feeds
			Mobile App flags/push notifications
			Analytics on every action, personally identifiable if the user chooses
			Schedule Posts for specific days/times
		</ul>
		
		<h4>Members</h4>
		<ul>
			Custom user privacy settings so that users share the level of personally identifiable information that they want
			User profiles and subscriptions that are not locked to a specific church
			Prayer request and feedback forms
		</ul>
	</div>
	
	<!-- benefits -->
	<div class="third">
		<h3>Benefits</h3>
		<ul>
			Information that is normally on a church website can be pushed to members via mobile app
			The Benefits of a custom app without the cost
			Bible portion of the app can be used during service and turned to the launch scripture for the member
			2 points to give and receive feedback allow for receiving different kinds of feedback (After Service survey form and Anytime Feedback from) 
			 
			<h4>Church</h4>
			Engagement Analytics on every action, whether personally identifiable or not
			Scheduled Posts allow Content to be pre-planned
			Send out message reinforcement, announcements, events notifications, devotionals, and other information to subscribers at anytime

			<h4>Member</h4>
			Users tie personal information to the actions they take at their discretion
			Users have access to their church’s curated content on demand
			Users have a voice in feedback forms, surveys, and prayer request forms
			Users don’t have to wait for the opportune time to ask a question or request information

		</ul>

	</div>
</div>
