<div id="nfb" class="slide cyan shade">
	<!-- needs -->
	<div class="third">
		<h2>Needs</h2>

		<h3>Church</h3>
		<ul>
			<li>Churches want to provide their members with the tools, guidance and information to foster a personal relationship with God</li>
            <li>Churches want to engage members on more than just Sunday, for point #1 and also to build a sense of community</li>
            <li>Churches want feedback from members and attendees</li>
            <li>Churches want to promote and reinforce the content from their worship services and classes</li>
            <li>Churches want to disseminate information to their members like announcements, devotionals, etc</li>
            <li>Churches want information on participation</li>
		</ul>

		<h3>Members</h3>
		<ul>
            <li>Members want a custom level of engagement and privacy</li>
            <li>Members want a relationship with God</li>
            <li>Members want some level (usually a low level) of direction</li>
            <li>Members want to hear the message </li>
            <li>Members want a voice</li>
		</ul>
	</div>
	
	<!-- features -->
	<div class="third">
		<h2>Features</h2>

		<ul>
            <li>Full, linkable Bible with multiple translations</li>
            <li>Content feed for churches to post to and members to subscribe to</li>
            <li>Check Ins</li>
            <li>Multiple Post types</li>
            <li>Scripture Posts feature one or more scriptures that link back to the Bible portion of the App</li>
            <li>Survey Posts to give and receive feedback</li>
            <li>Link Posts for sharing links to audio/video and other content</li>
		</ul>
		
		<h3>Churches</h3>
		<ul>
            <li>Affordable</li>
            <li>Web/Mobile Dashboard for viewing analytics and posting content</li>
            <li>Church Profile for members to subscribe to</li>
            <li>Push to App feed as well as social media feeds</li>
            <li>Mobile App flags/push notifications</li>
            <li>Analytics on every action, personally identifiable if the user chooses</li>
            <li>Schedule Posts for specific days/times</li>
		</ul>
		
		<h3>Members</h3>
		<ul>
            <li>Custom user privacy settings so that users share the level of personally identifiable information that they want</li>
            <li>User profiles and subscriptions that are not locked to a specific church </li>
            <li>Prayer request and feedback forms </li>
		</ul>
	</div>
	
	<!-- benefits -->
	<div class="third">
		<h2>Benefits</h2>
		<ul>
            <li>Information that is normally on a church website can be pushed to members via mobile app</li>
            <li>The Benefits of a custom app without the cost</li>
            <li>Bible portion of the app can be used during service and turned to the launch scripture for the member</li>
            <li>2 points to give and receive feedback allow for receiving different kinds of feedback (After Service survey form and Anytime Feedback from)</li>
		</ul>

        <h3>Church</h3>
        <ul>
            <li>Engagement Analytics on every action, whether personally identifiable or not</li>
            <li>Scheduled Posts allow Content to be pre-planned</li>
            <li>Send out message reinforcement, announcements, events notifications, devotionals, and other information to subscribers at anytime</li>
        </ul>

        <h3>Member</h3>
        <ul>
            <li>Users tie personal information to the actions they take at their discretion</li>
            <li>Users have access to their church’s curated content on demand</li>
            <li>Users have a voice in feedback forms, surveys, and prayer request forms</li>
            <li>Users don’t have to wait for the opportune time to ask a question or request information</li>
		</ul>

	</div>
</div>
