<div id="nfb" class="slide purple shine">
	<!-- needs -->
	<div class="fourth">
		<h2>Q1 2015</h2>

		<ul>
            <li>Functioning Bible</li>
			<li>Church Profiles</li>
            <li>User Profiles</li>
            <li>Authentication</li>


		</ul>
	</div>
	
	<!-- features -->
	<div class="fourth">
		<h2>Q2 2015</h2>

		
		<ul>
            <li>Dashboards for user/churches</li>
            <li>Setup Church/User Relationship</li>
            <li>Basic Post Types</li>
            <li>Set Up Analytics</li>
		</ul>
	</div>
	
	<!-- benefits -->
	<div class="fourth">
		<h2>Q3 2015</h2>


        <ul>
            <li>Dashboard Upgrade</li>
            <li>Survey Posts</li>
            <li>Scheduled Posts</li>
        </ul>

	</div>

    <div class="fourth">
        <h2>Q4 2015</h2>

        <ul>
            <li>Check-Ins</li>
            <li>Facebook/Twitter Integration</li>
            <li>Integrated Giving</li>
        </ul>

    </div>
</div>
