<div class="slide lime shine" id="storyboard" ng-controller="StoryboardCtrl">
    <h1>A Tale of Two Users</h1>
    <div id="cell-wrapper">
        <div id="cell-container">
          <div class="cell">
              <div class="image-wrapper">
                <img src="/img/cell_1_1.png" />
              </div>
              <p>
                  <strong>Exposition</strong><br/><br/>
                  Pastor Chris wants to reinforce his messages as well as send the church information so he signs up
                  for MyChurchBible.com and promotes it’s bible app to the church.
                  <br/><br/>
                  Tina hears of the MyChurchBible
                  App at church and subscribes to her church’s feed since she uses her iPad for a bible already anyway.
              </p>
          </div>

            <div class="cell">
                <div class="image-wrapper">
                    <img src="/img/cell_2_1.png" />
                </div>

                <p>
                    <strong>Rising Action</strong><br/><br/>
                    Pastor Chris starts posting his upcoming launch scripture and reference scriptures to MyChurchBible for his members to see.
                    He also adds a survey post and an announcement for an upcoming clothing drive. All this information is also posted to
                    Facebook and Twitter.
                </p>
            </div>

          <div class="cell">
              <div class="image-wrapper">
                  <img src="/img/cell_3_1.png" />
              </div>

              <p>
                  <strong>Rising Action</strong><br/><br/>
                  Tina adjusts her privacy settings because she doesn’t want to feel like every little thing she does in the app will
                  be watched.
              </p>
          </div>

          <div class="cell">
              <div class="image-wrapper">
                <img src="/img/cell_2_2.png" />
              </div>
              <p>
                  <strong>Climax</strong><br/><br/>
                  Tina During her devotional time Tina decides to read the scriptures Pastor Chris posted and it helps her to remember
                  and apply the message. She also sees the announcement.
              </p>
          </div>


          <div class="cell">
              <div class="image-wrapper">
                <img src="/img/cell_3_2.png" />
              </div>
              <p>
                  <strong>Falling Action</strong><br/><br/>
                  Pastor Chris can view his MyChurchBible.com dashboard and see how many subscribers his church has,
                  what type of engagement his posts get (both in app and on social media), check-ins, how much time people
                  spend using the bible app, feedback, prayer requests, and much more.
              </p>
          </div>

        <div class="cell">
            <div class="image-wrapper">
                <img src="/img/cell_1_2.png" />
            </div>
            <p>
                <strong>Denouement</strong><br/><br/>
                After church serves the bible app prompts Tina for surveys from time to time and she fills them out sometimes.
            </p>
        </div>

      </div>
  </div>
</div>