<div class="slide" id="storyboard">
    <div id="cell-wrapper">
        <div id="cell-container">
          <div class="cell">
              <img src="/img/cell_1_1.png" />
          </div>

            <div class="cell">
                <img src="/img/cell_2_1.png" />
            </div>

          <div class="cell">
              <img src="/img/cell_3_1.png" />
          </div>

          <div class="cell">
              <img src="/img/cell_1_2.png" />
          </div>


          <div class="cell">
              <img src="/img/cell_2_2.png" />
          </div>


          <div class="cell">
              <img src="/img/cell_3_2.png" />
          </div>
      </div>
  </div>
</div>