<div id="target-market" class="slide">
	<h2>Market Size Analysis</h2>

    the Religious Congregations Membership Study estimated roughly 350,000 Christian churches in 2010
    Their polls show that 50% of those churches have 350 regular attendees or less (including children)
    Duke University’s National Congregations Study Data (Wave III - 2012) shows 52% of Christian congregations polled have less than 250 attendees at a main services (including children)

    = Approximately 175,000 - 182,000 Small to Medium Christian churches in the United States

    Interesting Data...
    Hartford Institute for Religion Research polled 336 of the roughly 1,200 megachurches (2000+ attendees as well as other criteria) and 82% of them said that “small groups” (smaller groups of usually 3-15 people who meet regularly) are central to their strategy of Christian nurturing (as well as 46% of their attenders being involved in small groups)
    of the other 26.6% | 93,000 of churches in america with 500+ attendees (anecdotally) most do small groups

</div>
