<div id="target-market" class="slide magenta glow">
	<h1>Market Size Analysis</h1>

    <div class="panel">
        <div class="panel-left">
            <span class="fa-stack fa-5x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-group fa-stack-1x"></i>
            </span>
        </div>

        <div class="panel-right">
            <h3>The People</h3>

            <h4>
                <a class="fa fa-chain" href="http://publicreligion.org/research/2014/05/aapor-2014/">
                    2014 Public Religion Research Institue Survey (online results)
                </a>
            </h4>
            <p>
                <em>24.6%</em> of Americans surveyed say they go to church occasionally
                <br/>
                <em>37.6%</em> say they attend church weekly or more
            </p>


            <h4>
                <a class="fa fa-chain" href="http://hirr.hartsem.edu/research/fastfacts/fast_facts.html#attend">
                    Hartford Research Institute RCMS Study
                </a>
            </h4>
            <p>
                Approximately <em>20.4%</em> of Americans are were church on any given Sunday in 2010
            </p>


        </div>
    </div>

    <div class="panel">
        <div class="panel-left">
            <span class="fa-stack fa-5x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-university fa-stack-1x"></i>
            </span>
        </div>
        <div class="panel-right">
            <h3>The Place</h3>

            <h4>
                <a class="fa fa-chain" href="http://hirr.hartsem.edu/research/fastfacts/fast_facts.html#numcong">
                    Religious Congregations Membership Study
                </a>
            </h4>
            <p>
                Roughly <em>350,000</em> Christian churches in 2010
                Their polls show that 50% of those churches have 350 regular attendees or less (including children)
            </p>

            <h4>
                <a class="fa fa-chain" href="http://www.soc.duke.edu/natcong/study.html">
                    Duke University’s National Congregations Study Data (Wave III - 2012)
                </a>
            </h4>
            <p>
                 shows <em>52%</em> of Christian
                congregations polled have less than 250 attendees at a main services (including children)
            </p>

        </div>
    </div>


    <div class="panel result">
        <div class="panel-left">
            <span class="fa-stack fa-5x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-bar-chart-o fa-stack-1x"></i>
            </span>
        </div>
        <div class="panel-right">
            <i class="fa fa-group">&nbsp;</i> About <em>632,000</em> People in church on any given Sunday in America
            <br/>
            <br/>
            <i class="fa fa-institution">&nbsp;</i> Around <em>175,000 - 182,000</em> small/medium Christian churches in America
        </div>
    </div>



</div>
