<div id="target-market" class="slide magenta shine">
	<h2>Market Size Analysis</h2>
    <div class="panel">
        <span class="fa fa-5x">
            <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
            <i class="fa fa-university fa-stack-1x"></i>
        </span>
    </div>

    <div class="panel">
        2014 Public Religion Research Institue Survey (online results)
        <ul>
            <li>24.6% of Americans surveyed say they go to church occasionally</li>
            <li>37.6% say they attend church weekly or more</li>
        </ul>
        <a href="http://publicreligion.org/research/2014/05/aapor-2014/">view the article</a>

        <br/>
        <br/>
        Hartford Research Institute RCMS Study
        Approximately 20.4% of Americans are in church on any given Sunday in 2010
        <a href="http://hirr.hartsem.edu/research/fastfacts/fast_facts.html#attend">view the report</a>
    </div>

    <div class="panel">
        <ul>
            <li>

                the Religious Congregations Membership Study estimated roughly 350,000 Christian churches in 2010
                Their polls show that 50% of those churches have 350 regular attendees or less (including children)
            </li>
            <li>
                Duke University’s National Congregations Study Data (Wave III - 2012) shows 52% of Christian congregations polled have less than 250 attendees at a main services (including children)
                <br />
                <br />
                = Approximately 175,000 - 182,000 Small to Medium Christian churches in the United States
            </li>
        </ul>
    </div>




</div>
