<div id="value-prop" class="slide glow">
	<div class="text-wrapper">
        <div class="big-text">
            <h1>Value Proposition</h1>
            <p>
                An affordable way for churches to connect membership and leadership that is centrally focused around God’s Word.
                <br />
                <br />
                As a leader you can provide your members with a Bible App and through it send devotionals, curated linkable scriptures that can be opened in the App,
                comments, surveys, quizzes, and other information.
                <br /> <br />
                As a member you have access to the church(es) that you subscribe to,
                with the level of privacy you prefer, and provide the church feedback at any time through a full fledged Bible App.
            </p>

            <!--h3>Target</h3>
            <p>
                Churches (or potentially other non-profits/event based orgs) with at least 30 members
            </p-->
        </div>
	</div>
</div>